<div class="main">
  <div class="form-container">
    <form [formGroup]="tourForm" style="display: flex; flex-direction: column;">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="2"
                  formControlName="description"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty" matInput required>
          <mat-option value="EASY">Easy</mat-option>
          <mat-option value="MEDIUM">Medium</mat-option>
          <mat-option value="HARD">Hard</mat-option>
          <mat-option value="EXTREME">Extreme</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Transport type</mat-label>
        <mat-select formControlName="transportType" matInput required>
          <mat-option value="WALK">Walk</mat-option>
          <mat-option value="BIKE">Bike</mat-option>
          <mat-option value="CAR">Car</mat-option>
          <mat-option value="BOAT">Boat</mat-option>
        </mat-select>
      </mat-form-field>

      <button color="primary" type="submit" (click)="saveTour()" mat-raised-button [disabled]="!tourForm.valid">
        <span>Save</span>
      </button>
    </form>
  </div>

  <div class="form-container">
    <h1>Avaliable tours</h1>
    <div style="display: flex; flex-direction: row;">
      <table>
        <thead>
        <th>Avaliable tours</th>
        <th></th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr *ngFor="let tour of boughtTours">
          <td>{{ tour.name }}</td>
          <td>{{ tour.duration }}</td>
          <td>{{ tour.difficulty }}</td>
          <td>
            <button color="accent" mat-icon-button (click)="addTour(tour)">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="form-container">
    <h1>Selected tours</h1>
    <div style="display: flex; flex-direction: row;">
      <table>
        <thead>
        <th>Selected tours</th>
        <th></th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr *ngFor="let tour of selectedTours">
          <td>{{ tour.name }}</td>
          <td>{{ tour.duration }}</td>
          <td>{{ tour.difficulty }}</td>
          <td>
            <button color="accent" mat-icon-button (click)="removeTour(tour)">
              <mat-icon>remove</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button color="accent" mat-stroked-button (click)="saveTour()" style="margin-top: 3%;">
      Create
    </button>
  </div>
  <div class="cont" *ngIf="complete">
    <h1>Tour information</h1>
    <p><strong>Name:</strong> {{ newTour.name }}</p>
    <p><strong>Description:</strong> {{ newTour.description }}</p>

    <p *ngIf="newTour.distance"><strong>Travel distance:</strong> {{ newTour.distance | number:'1.2-2' }} km</p>
    <p *ngIf="newTour.duration"><strong>Tour duration:</strong> {{ newTour.duration | time }}</p>

    <table>
      <thead>
      <th>Equipment</th>
      </thead>
      <tbody>
      <tr *ngFor="let e of equipment">
        <td>{{ e.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="map-container">
    <app-map [enableClicks]="false" [toggleOff]="true" [routeQuery]="routeQuery"
             (routesFoundEvent)="getRouteInfo($event)"></app-map>
  </div>
</div>
<p-toast position="top-right"></p-toast>
