<div>
    <div>
    <table>
        <thead>
            <th>Comments</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of comments">
                <td>{{c.username}}</td>
                <td>{{c.comment}}</td>
                <td>
                    <button *ngIf="systemStatus !== 'CLOSED' " (click)="onDeleteClicked(c)" color="accent" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button *ngIf="systemStatus !== 'CLOSED' " (click)="onUpdateClicked(c)"  color="accent" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
            <tr>
                <button *ngIf="systemStatus !== 'CLOSED' " (click)="onAddClicked()" color="primary" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </tr>
        </tbody>
    </table>
    </div>
    <xp-comment-form *ngIf="shouldRenderForm" (commentAdded)="getComments()" [blogId]="blogId" [comment]="selectedComment" [editMode]="editMode"></xp-comment-form>
</div>