<div class="main">
    <xp-comment-form (commentAdded)="getComments()" [blogId]="blogId" [comment]="comment" [editMode]="editMode"
    style="padding-top: 1.5em;"></xp-comment-form>
    <table>
        <tr *ngFor="let c of comments">
            <td style="height: 125px;">
            <div class="comment">
                <div class="comment-header">
                    <p class="p-comment-header">{{c.username}}</p>
                </div>
                <div class="comment-body">
                    <p>{{c.comment}}</p>
                </div>
                <div class="comment-footer">
                    <button *ngIf="systemStatus !== 'CLOSED'" (click)="onUpdateClicked(c)" color="accent" mat-icon-button>
                        <mat-icon [ngStyle]="{'color':'#5989DF'}">edit</mat-icon>
                    </button>
                    <button (click)="onDeleteClicked(c)" color="accent" mat-icon-button>
                        <mat-icon [ngStyle]="{'color':'#5989DF'}">delete</mat-icon>
                    </button>
                </div>
            </div>
            </td>
        </tr>
    </table>
</div>