<div class="cont">
    <h1>Tours marketplace</h1>
</div>
<div class="cont">
    <button class="button button-secondary" type="button" (click)="toggleForm()">Filter tours by location</button>
    <form [formGroup]="tourFilterForm" *ngIf="showForm">
        <label for="longitude">Longitude</label>
        <input type="text" id="longitude" name="longitude" formControlName="longitude">

        <label for="latitude">Latitude</label>
        <input type="text" id="latitude" name="latitude" formControlName="latitude">

        <label for="filterRadius">Filter Radius</label>
        <input type="number" id="filterRadius" name="filterRadius" formControlName="filterRadius">
        
        <app-map [enableClicks]="true" [toggleOff]="true" (clickEvent)="fillParams($event)" [allowMultipleMarkers]="false"></app-map>
        <button type="button" (click)="getFilteredTours()">Get Filtered Tours</button>
    </form>
</div>
<div class="cont">
    <xp-tour-card *ngFor="let tour of tours" [tour]="tour"></xp-tour-card>
</div>
