#tour-issue-by-tour-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tour
{
    background-color: lightgrey; 
    width: 75%; 
    height: 150px;
    margin-top: 10px;
}

#tour-issue
{
    background-color: lightblue; 
    width: 75%; 
    height: 150px;
    margin-top: 10px;
}

#comments
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%; 
    margin-top: 10px;
}

.comment
{
    background-color:lightyellow; 
    width: 75%; 
    height: 100px;
    margin-top: 10px;
}

