<div class="active-tour-container">
    <div *ngIf="showBlog" id="blog-form-container">
        <xp-blog-form id="blog-form-display" [selectedBlog]="newBlog" [tourProgress]="activeTourCopy"></xp-blog-form>
    </div>
    <div *ngIf="(!activeTour || activeTour.status != 'IN_PROGRESS') && !showBlog">
        <h2>You don't have active tour</h2>
        <p>Go to the tour market and buy one!</p>
    </div>
    <div>
        <h2 *ngIf="activeTour">Active tour information</h2>
        <div class="active-tour__information">
            <div *ngIf="activeTour">
                <p><b>Tour name:</b> {{ activeTour.tour.name }}</p>
                <p><b>Tour distance:</b> {{ activeTour.tour.distance | number:'1.2-2'}}km</p>
                <p><b>Tour difficulty:</b> {{ activeTour.tour.difficulty }}</p>
            </div>
            <div *ngIf="activeTour">
                <p><b>Tour duration:</b> {{ activeTour.tour.duration || 0 | time}}</p>
                <p><b>Start time:</b> {{ activeTour.startTime | date:"MMM dd, yyyy 'at' hh:mm a" }}</p>
                <p><b>Your current location:</b> {{ activeTour.touristPosition?.longitude }}°, {{ activeTour.touristPosition?.latitude }}°</p>
            </div>
            <div *ngIf="activeTour && currentKeyPoint">
           
                <p><b>Keypoint Name:</b> {{ currentKeyPoint.name }}</p>
                <p><b>Keypoint Position:</b> {{ currentKeyPoint.position }}</p>
                <p><b>Keypoint Description:</b> {{ currentKeyPoint.description }}</p>
            </div>
            <div *ngIf="activeTour">
                <p>Nearby encounters</p>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Xp</th>
                        <th>Type</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of nearbyEncounters">
                            <td>{{e.name}}</td>
                            <td>{{e.xp}}</td>
                            <td>{{e.type}}</td>
                            <td>
                                <button color="primary" mat-icon-button (click)="startEncounter(e)">
                                    <mat-icon>start</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button-container" *ngIf="activeTour">
                <button color="primary" (click)="abandonTour()" mat-raised-button>Abandon Tour</button>
            </div>
        </div>
        <div class="active-tour__content">
            <div class="active-tour__map-container">
                <app-map [enableClicks]="false" [allowMultipleMarkers]="true" [toggleOff]="true" [routeQuery]="routeQuery" [markerPosition]="currentPosition" [markerPositions]="pointsOfInterest" [fitSelectedRoutes]="false" *ngIf="refreshMap"></app-map>
            </div>
            <div class="active-tour__settings">
                <div class="setting-container">
                    <p class="settings__title">Show objects</p>
                    <div class="toggle-container">
                        <span>Off</span>
                        <div class="toggle" (click)="toggleSetting(PointOfInterestType.objects)">
                            <div class="toggle__slider" [ngClass]="{'on':(nearbyObjectsToShow.indexOf(PointOfInterestType.objects) > -1)}"></div>
                        </div>
                        <span>On</span>
                    </div>
                </div>
                <div class="setting-container">
                    <p class="settings__title">Show active tour</p>
                    <div class="toggle-container">
                        <span>Off</span>
                        <div class="toggle" (click)="toggleSetting(PointOfInterestType.activeTour)">
                            <div class="toggle__slider" [ngClass]="{'on':(nearbyObjectsToShow.indexOf(PointOfInterestType.activeTour) > -1)}"></div>
                        </div>
                        <span>On</span>
                    </div>
                </div>
                <div class="setting-container">
                    <p class="settings__title">Show active encounters</p>
                    <div class="toggle-container">
                        <span>Off</span>
                        <div class="toggle" (click)="toggleSetting(PointOfInterestType.activeEncounters)">
                            <div class="toggle__slider" [ngClass]="{'on':(nearbyObjectsToShow.indexOf(PointOfInterestType.activeEncounters) > -1)}"></div>
                        </div>
                        <span>On</span>
                    </div>
                </div>
                <div class="setting-container">
                    <p class="settings__title">Show completed encounters</p>
                    <div class="toggle-container">
                        <span>Off</span>
                        <div class="toggle" (click)="toggleSetting(PointOfInterestType.completedEncounters)">
                            <div class="toggle__slider" [ngClass]="{'on':(nearbyObjectsToShow.indexOf(PointOfInterestType.completedEncounters) > -1)}"></div>
                        </div>
                        <span>On</span>
                    </div>
                </div>
                <div class="setting-container">
                    <p class="settings__title">Show new encounters</p>
                    <div class="toggle-container">
                        <span>Off</span>
                        <div class="toggle" (click)="toggleSetting(PointOfInterestType.notCompletedEncounters)">
                            <div class="toggle__slider" [ngClass]="{'on':(nearbyObjectsToShow.indexOf(PointOfInterestType.notCompletedEncounters) > -1)}"></div>
                        </div>
                        <span>On</span>
                    </div>
                </div>
                <div class="setting-container">
                    <p class="settings__title">Show current position</p>
                    <div class="toggle-container">
                        <span>Off</span>
                        <div class="toggle" (click)="toggleSetting(PointOfInterestType.position)">
                            <div class="toggle__slider" [ngClass]="{'on':(nearbyObjectsToShow.indexOf(PointOfInterestType.position) > -1)}"></div>
                        </div>
                        <span>On</span>
                    </div>
                </div>
                <div class="setting-container">
                    <p class="settings__title">Show public keypoints</p>
                    <div class="toggle-container">
                        <span>Off</span>
                        <div class="toggle" (click)="toggleSetting(PointOfInterestType.publicKeypoints)">
                            <div class="toggle__slider" [ngClass]="{'on':(nearbyObjectsToShow.indexOf(PointOfInterestType.publicKeypoints) > -1)}"></div>
                        </div>
                        <span>On</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="activeTour">
            <xp-keypoint-encounters-preview [keypointEncounters]="keypointEncounters" [requiredEncounters]="requiredEncounters"></xp-keypoint-encounters-preview>
        </div>
    </div>
</div>