<div class="cont">
  <h1>Manage discounts</h1>
  <table mat-table [dataSource]="sales" class="mat-elevation-z8" *ngIf="!showForm && !isEditing">
    <!-- Sale Percentage Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Start date </th>
      <td mat-cell *matCellDef="let sale"> {{sale.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> End date </th>
      <td mat-cell *matCellDef="let sale"> {{sale.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef> Discount </th>
      <td mat-cell *matCellDef="let sale"> {{sale.percentage}}% </td>
    </ng-container>

    <!-- Edit Button Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let sale">
        <button mat-button (click)="editSale(sale)">Edit</button>
      </td>
    </ng-container>

    <!-- Remove Button Column -->
    <ng-container matColumnDef="removeSale">
      <th mat-header-cell *matHeaderCellDef> Remove </th>
      <td mat-cell *matCellDef="let sale">
        <button mat-button (click)="removeSale(sale)">Remove</button>
      </td>
    </ng-container>

    <!-- Manage Tours Button Column -->
    <ng-container matColumnDef="manageTours">
      <th mat-header-cell *matHeaderCellDef> Manage Tours </th>
      <td mat-cell *matCellDef="let sale">
        <button mat-button (click)="toggleTourManagement(sale)">Manage Tours</button>
        <xp-tour-management
          *ngIf="isTourManagementVisible && sale.id === selectedSale?.id"
          [availableTours]="availableTours"
          [selectedTours]="selectedTours"
          (tourAdded)="addTour(sale, $event)"
          (tourRemoved)="removeTour(sale, $event)"
        ></xp-tour-management>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Add Sale Button -->
  <div *ngIf="!showForm && !isEditing">
    <!-- Add Sale Button -->
    <button mat-button (click)="showAddSaleForm()">Add discount</button>
  </div>
  <button mat-button (click)="collapse()">Collapse</button>
  <form [formGroup]="saleForm" *ngIf="showForm || isEditing">
    <div class="somediv">
      <mat-form-field>
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="start" formControlName="startDate">
        <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-hint>MM/DD/YYYY</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="end" formControlName="endDate">
        <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-hint>MM/DD/YYYY</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Percentage</mat-label>
        <input matInput formControlName="percentage" type="number" min="0" max="100"/>
      </mat-form-field>
    </div>
    <button mat-button (click)="isEditing ? editSale(selectedSale) : addSale() "> {{ isEditing ? 'Edit Sale' : 'Add Discount' }} </button>
  </form>
</div>

