<div id="blog">
    <div id="all-blogs">
        <h2>All tags:</h2>
        <div id="status-containers">
            <div *ngFor="let status of allBlogStatus" >
                <div class="status" [ngStyle]="{'background-color':status.frontColor}" (click)="modifyFilter(status)">
                    <i class="fa-solid fa-tag"></i>    
                    {{status.name}}
                </div>
            </div>
        </div>
        <h2>Selected tags:</h2>
        <div id="status-containers">
            <div *ngFor="let status of selectedBlogStatus">
                <div  class="status"  [ngStyle]="{'background-color':status.frontColor}" (click)="modifyFilter(status)">
                    <i class="fa-solid fa-tag"></i>    
                    {{status.name}}
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>System status</td>
                <td>Statuses</td>
                <td>Actions</td>
            </tr>
            <tr  *ngFor="let bl of blogs">
                <td><a href="/blog/{{bl.id}}">{{bl.title}}</a></td>
                <td>{{bl.description}}</td>
                <td>{{bl.systemStatus}}</td>
                <td *ngFor="let st of bl.blogStatuses">
                    <div class="status" [ngStyle]="{'background-color':getColor(st.name)}">
                        <i class="fa-solid fa-tag"></i>    
                        {{st.name}}
                    </div>
                </td>
                <td>
                    <button (click)="onUpdateClicked(bl)" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="onDeleteClicked(bl)" color="accent" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <xp-blog-form id="blog-form-display" (blogUpdated)="getBlogs()" [selectedBlog]="selectedBlog"></xp-blog-form>
</div>
