<mat-toolbar color="primary">
    <div>
        <p>Explorer</p>
        <div id="buttons">
            
            <!-- All -->
            <button *ngIf="user && user.username === ''" color="accent" mat-raised-button [routerLink]="['login']">Login</button>
            <button *ngIf="user && user.username !== ''" color="accent" mat-raised-button (click)="onLogout()">Logout</button>
            <button color="primary" mat-raised-button [routerLink]="['home']">Home</button>
            <button *ngIf="user && user.username !== ''" color="primary" mat-raised-button [routerLink]="['profile']">Profile</button>
            
            <!-- Tourists -->
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['toursMarketplace']">Tours marketplace</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['touristSelectingEquipment']">Manage my equipment</button>
            <button *ngIf="user && user.role === 'tourist'"color = "primary" mat-raised-button [routerLink] = "['clubs']">See clubs</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['tourPreference']">My preferences</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['clubInvitations']">Manage club invitations</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['appRatingTourist']">Rate App</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['clubJoinRequests']">My join requests</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['clubInvitations']">Manage club memberships</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['tourissue']">Report tour issues</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['blog']">Write blog</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['tour-review']">Write tour review</button>
            
            <!-- Admin -->
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['equipment']">Manage equipment</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['users']">See all users</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['appRatingList']">See all app ratings</button>
            
            <!-- Author -->
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['tours-equipment']">Manage tour equipment</button>
            <button *ngIf="user && user.role === 'author'"color = "primary" mat-raised-button [routerLink]="['tours']">Tours</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['objects']">Tour Objects</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['appRatingAuthor']">Rate App</button>
        </div>
    </div>
</mat-toolbar>
