<mat-toolbar color="primary">
    <div>
        <p>Explorer</p>
        <div id="buttons">
            
            <!-- All -->
            <button *ngIf="user && user.username === ''" color="accent" mat-raised-button [routerLink]="['login']">Login</button>
            <button *ngIf="user && user.username !== ''" color="accent" mat-raised-button (click)="onLogout()">Logout</button>
            <button color="primary" mat-raised-button [routerLink]="['home']">Home</button>
            <button *ngIf="user && user.username !== '' && user.role !== 'administrator'" color="primary" mat-raised-button [routerLink]="['profile']">Profile</button>
            <button *ngIf="user && user.username !== '' && user.role !== 'administrator'" color="primary" mat-raised-button [matMenuTriggerFor]="notificationsMenu">
              Notifications
              <span class="notification-badge" *ngIf="unreadNotificationsCount !== 0 ">{{unreadNotificationsCount}}</span>
            </button>
            
            <mat-menu #notificationsMenu="matMenu" class="my-menu">  
              <span *ngIf="notifications.length !== 0" class="notification-box">    
                <div *ngFor="let n of notifications">                 
                  <div class="cloud-container" (click)="redirect(n.actionURL)"> 
                    <mat-icon class="icon">notifications</mat-icon>
                    <span  class="content">
                    <p>{{ n.content }}</p>
                    <p class="date">{{ n.creationDateTime | date:'medium' }}</p>
                    </span>
                  </div>
                  <span class="notification-button" *ngIf="n.isRead === false"><button mat-raised-button color="primary" (click)="markAsRead(n)">Mark as Read</button></span>
                  <span class="notification-button"  *ngIf="n.isRead === true"><button  mat-raised-button color="accent" (click)="delete(n.id)">Delete</button></span>
                </div> 
              </span>   
              <div *ngIf="notifications.length === 0" class="no-notifications">There are no new notifications to display.</div>                    
            </mat-menu>

            <!-- Tourist -->
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['toursMarketplace']">Tours marketplace</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['touristSelectingEquipment']">Manage my equipment</button>
            <button *ngIf="user && user.role === 'tourist'"color = "primary" mat-raised-button [routerLink] = "['clubs']">See clubs</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['tourPreference']">My preferences</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['clubInvitations']">Manage club invitations</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['appRatingTourist']">Rate App</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['clubJoinRequests']">My join requests</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['clubInvitations']">Manage club memberships</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['user/tourissues']">Report tour issues</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['blog']">Write blog</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['shopping-cart-overview']">Shopping cart</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['tour-review']">Write tour review</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['my-position']">My position</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['active-tour']">Active tour</button>
            
            <!-- Admin -->
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['equipment']">Manage equipment</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['users']">See all users</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['appRatingList']">See all app ratings</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['admin/tourissues']">See active tour issues</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['publicEntityRequests']">Manage public entity requests</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['encountersManagement']">Manage encounters</button>
        
            <!-- Author -->
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['tours-equipment']">Manage tour equipment</button>
            <button *ngIf="user && user.role === 'author'"color = "primary" mat-raised-button [routerLink]="['tours']">Tours</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['objects']">Tour Objects</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['appRatingAuthor']">Rate App</button>
        </div>
    </div>
</mat-toolbar>
