<form [formGroup]="tourReviewForm">
    <div>
        <mat-form-field>
            <mat-label>Rating</mat-label>
            <input matInput formControlName="rating" type="number" min="1" max="5"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Comment</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            formControlName="comment"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Visit date</mat-label>
            <input matInput formControlName="visitDate" type="date"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Images</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            formControlName="imageLinks"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <button *ngIf="!shouldEdit" mat-raised-button type="submit" color="primary" (click)="addTourReview()"> Create tour review</button>
        <button *ngIf="shouldEdit" mat-raised-button type="submit" color="primary" (click)="updateTourReview()"> Update tour review</button>
    </div>
</form>
