<p>Tour issues</p>
<hr>
<div id="page">
    <div id="tourissueslist">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tour ID</th>
                    <th style="width: 60px;">Category</th>
                    <th style="width: 20px;">Priority</th>
                    <th style="width: 180px;">Description</th>
                    <th>Creation date and time</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let ti of tourIssues">
                    <td><a href="tourissue/{{ti.id}}">{{ti.id}}</a></td>
                    <td>{{ti.tourId}}</td>
                    <td>{{ti.category}}</td>
                    <td>{{ti.priority}}</td>
                    <td>{{ti.description}}</td>
                    <td>{{ti.creationDateTime | date:'short'}}</td>
                    <td>
                        <button id="buttonsAction" style="color: #d0b8ac;" (click)="onUpdateClicked(ti)" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                    <td>
                        <button id="buttonsAction" color="accent" (click)="onDeleteClicked(ti)" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="formcontainer">
        <form [formGroup]="tourIssueForm" id="tourissueform">
            <mat-form-field>
                <mat-label>Tour ID:</mat-label>
                <input matInput type="text" formControlName="tourId">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Category:</mat-label>
                <input matInput type="text" formControlName="category">
            </mat-form-field>
            <mat-form-field style="width: 100px;">
                <mat-label>Priority:</mat-label>
                <input matInput type="number" min="1" max="5" formControlName="priority">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description:</mat-label>
                <textarea matInput cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                formControlName="description"
                cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
            <div id="buttonsPrimary">
                <button class="buttonPrimary" color="primary" mat-raised-button (click)="addTourIssue()">Create</button>
                <button class="buttonPrimary" color="primary" mat-raised-button (click)="updateTourIssue()">Update</button>
            </div>
        </form>
    </div>
</div>