<p>wish-list works!</p>

<div class="cont">
    <h1>Wish list</h1>
</div>
<div class="cont">
    <div class="preferences-container">
        <!--ng-container *ngIf="wishListItems.length > 0; else emptyWishList">
            <xp-shopping-cart *ngFor="let item of wishListItems" [order]="item"></xp-shopping-cart>
        </ng-container-->
        <ng-template #emptyWishList class="empty-cart">
            <p>You don't have any tours saved in your wish list!</p>
        </ng-template>
    </div>
    

</div>