<form [formGroup]="appRatingForm">
    <div *ngIf="showForm">
        <mat-form-field>
            <mat-label>Rate app(1-5)</mat-label>
            <input matInput formControlName="rating" type="number">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter Id of this rating</mat-label>
            <input matInput formControlName="id" type="number">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Comment:</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            formControlName="comment"
            cdkAutosizeMaxRows="5"></textarea>        
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" (click)="addAppRating()">submit</button>
    </div>
    <div *ngIf="!showForm">
        <p>{{ successMessage }}</p>
      </div>
</form>
