.container {
    display: flex;
    padding: 0.5rem;
    height: 80vh;
}

.chatPreview {
    width: 25%;
    border: 1px solid purple;
    height: 100%;
    padding: 0.8rem;
    overflow-y:auto;
}

.chatMessages {
    width: 75%;
    border: 1px solid purple;
    height: 100%;
    padding: 0.8rem;
}