div {
    width: 400px;
    display:flex;
    gap: 10px;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-family: sans-serif;
}

input {
    width: 400px;
    height: 30px;
    background-color: #f3f3f3;
    border-style: hidden;
    border-radius: 3px;
}

button {
    width: 216px;
    height: 35px;
    background-color: #3f51b5;
    color: #ffffff;
    border-style: hidden;
    border-radius: 3px;
    font-size: 16px;
}

#buttons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.mat-icon {
    vertical-align: middle;
}