<form [formGroup]="tourIssueForm">
    <div>
        <label>Category:</label><input formControlName="category">
        <label>Priority:</label><input formControlName="priority">
        <label>Description:</label><input formControlName="description">
        <div id="buttons">
            <button color="primary" mat-raised-button (click)="addTourIssue()">Create</button>
            <button color="primary" mat-raised-button (click)="updateTourIssue()">Update</button>
        </div>
    </div>
</form>