<div class="main">
  <form [formGroup]="commentForm" class="form-container">
    <mat-form-field style="width: 80%;">
      <mat-label>{{ editMode ? 'Edit a comment' : 'Leave a comment' }}</mat-label>
      <input matInput formControlName="comment" type="text">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" (click)="editMode ? updateComment() : createComment()">
      {{ editMode ? 'Edit' : 'Post' }}
    </button>
  </form>
</div>
<p-toast position="top-right"></p-toast>
