.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

form {
  width: 300px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 8px #aaa;
  border-radius: 15px;
}

mat-form-field {
  display: block;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.custom-button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-accent-dark);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.custom-button:hover {
  background-color: #4f7ea8;
}
p {
  text-align: center;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

