<div id="tourissue"><br>
    <p>Tour issues</p>
    <hr>
    <div id="tourissue-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tour ID</th>
                        <th>Category</th>
                        <th>Priority</th>
                        <th>Description</th>
                        <th>Creation date and time</th>
                        <th>Must be resolve by date</th>
                        <th>New resolve date</th>
                        <th>Disable tour</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let ti of tourIssues; let i = index" [ngClass]="{'past-5-days': calculateDifference(ti.creationDateTime) >= 5}">
                        <td><a href="tourissue/{{ti.id}}">{{ti.id}}</a></td>
                        <td>{{ti.tourId}}</td>
                        <td>{{ti.category}}</td>
                        <td>{{ti.priority}}</td>
                        <td>{{ti.description}}</td>
                        <td>{{ti.creationDateTime | date:'short'}}</td>
                        <td>{{ti.resolveDateTime | date:'MM/dd/yy'}}</td>
                        <td>
                            <form>
                                <input matInput type="date" style="font-size: 16px;" (change)="onChange($event, i)" />
                                <button class="buttonnewdate" mat-raised-button (click)="setResolveDateTime(ti)">Set new date</button>
                            </form>
                        </td>
                        <td><button class="buttondisable" color="primary" mat-raised-button color="accent" (click)="disableTour(ti)" [disabled]="resolveButtonDisabled(ti)">Disable</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
