<div class="container">
    <div id="messages">
        <p *ngFor="let message of messages">
            <strong>{{message.sender.name}} {{message.sender.surname}}:</strong> {{message.content}}<br>
            <span class="timestamp">sent at: {{message.creationDateTime | date:'short'}}</span>
        </p>
    </div>
    <div class="messageForm">
        <textarea name="" id="" cols="30" rows="10" style="width: 85%; height: 80%; font-size: medium; padding: 0.7rem;" [(ngModel)]="messageContent"></textarea>
        <button style="width: 15%; height: 100%;" (click)="sendMessage()">Send</button>
    </div>
</div>

