<div class="container">
    <div id="messages">
        <h2 *ngIf="messages.length === 0" style="text-align: center;">Wow, this chat is empty like your soul</h2>
        <div *ngFor="let message of messages"> 
            <div class="message-bubble">  
                <strong>{{message.sender.name}} {{message.sender.surname}}:</strong> {{message.content}}<br>
                <span class="timestamp">sent at: {{message.creationDateTime | date:'short'}}</span>     
            </div>
        </div>
    </div>
    <div class="messageForm">
        <textarea name="" id="" cols="30" rows="10" style="width: 85%; height: 80%; font-size: medium; padding: 0.7rem;" [(ngModel)]="messageContent"></textarea>
        <button class="custom-button" (click)="sendMessage()">Send</button>
    </div>
</div>

