<div id="mainContainer">
    <header>
        <nav>
            <div class="navbar">
                <div class="navbar-modules">
                    <a href="#">Tours</a>
                    <a href="#">Blogs</a>
                    <a href="#">Contact</a>
                </div>
                <div class="app-name">TourTravel</div>

                <div class="navbar-modules">

                    <a href="#">Sign In</a>
                    <a href="#">Search</a>
                    <a routerLink="/purchased-tours" *ngIf="authService.user$.value.role=='tourist'">Purchased Tours</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
            <div style="flex: 0 0 30%; max-width: 30%; margin: 1em;" *ngFor="let tour of tours">
                <xp-tour-card-compact [tour]="tour"></xp-tour-card-compact>
            </div>
        </div>
        <div *ngIf="!isLoading && tours.length === 0">
            <h1 class=cheapskate>Buy something, you cheapskate.</h1>
        </div>
    </div>

    <h2 *ngIf="!router.url.includes('/home')" style="margin-left: 1rem; color:green;">Your custom tours:</h2>
    <button *ngIf="!router.url.includes('/home')" style="margin-left: 1rem;" color="primary" class="btn" (click)="navigateToTourManagement(0)">
        Create new custom tour
    </button>

    <button *ngIf="!router.url.includes('/home')" style=" height: 45px; width: 180px; margin-left: 4rem;" mat-flat-button color="accent"  (click)="navigateToCampaignCreation(0)">
        Create a campaign
    </button>

    <div class="container" *ngIf="!router.url.includes('/home')">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
            <div style="flex: 0 0 30%; max-width: 30%; margin: 1em;" *ngFor="let tour of customTours">
                <xp-tour-card-compact [tour]="tour"></xp-tour-card-compact>
            </div>
        </div>
        <div *ngIf="!isLoading && tours.length === 0">
            <h1 class=cheapskate>Buy something, you cheapskate.</h1>
        </div>
    </div>

    <div id="otherContainer" *ngIf="router.url.includes('/home')">
        <div class="panel">
            <p class="p-header">Discover New Experiences</p>
            <p class="p-regular">Explore breathtaking destinations, uncover hidden gems, and make memories that last a
                lifetime.</p>
            <a href="#" class="fancyButton">Discover your adventure</a>
        </div>

        <div class="panel" *ngIf="router.url.includes('/home')">
            <p class="p-header">Embark on Adventures through Captivating Narratives</p>
            <p class="p-regular">Explore our blog for a world of travel inspiration and exciting stories. From hidden
                gems to travel tips, our blog has it all.</p>
            <a href="#" class="fancyButton">Read Our Blog</a>
        </div>
    </div>

    <div id="bottomContainer">
        <div class="bottom-panel">
            <h2>Contact Us</h2>
            <p class="p-footer">Email:<a class="footerLink" href="mailto:info@tourme.app"> info&#64;tourme.app</a></p>
            <p class="p-footer">Phone: +1 (123) 456-7890</p>
            <p class="p-footer">Address: 123 Main Street, Anytown, USA</p>
            <p class="p-footer">Social Media:</p>
            <ul class="linkList">
                <div class="social-icon">
                    <i class="fab fa-facebook"></i>
                    <a class="footerLink" href="https://www.facebook.com/TourMeApp" target="_blank">Facebook</a>
                </div>
                <div class="social-icon">
                    <i class="fab fa-twitter"></i>
                    <a class="footerLink" href="https://twitter.com/TourMeApp" target="_blank">Twitter</a>
                </div>
                <div class="social-icon">
                    <i class="fab fa-instagram"></i>
                    <a class="footerLink" href="https://www.instagram.com/tourmeapp" target="_blank">Instagram</a>
                </div>
            </ul>
            <p class="p-footer">Support: For technical support or inquiries, please email
                <a class="footerLink" href="mailto:support@tourme.app">support&#64;tourme.app</a>.
            </p>
            <p class="p-footer">Business Inquiries: For business partnerships and collaborations, please contact
                <a class="footerLink" href="mailto:partnerships@tourme.app">partnerships&#64;tourme.app</a>.
            </p>
        </div>
        <div class="bottom-panel">
            <h2>Support</h2>
            <p class="p-footer">
                <a class="footerLink">Your account</a>
            </p>
        </div>
        <div class="bottom-panel">
            <h2>About Us</h2>
            <p class="p-footer">
                <a class="footerLink">About our Bussines</a>
            </p>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 TourApp. All rights reserved.</p>
    </footer>
</div>