<div id="mainContainer">
    <!-- <header>
        <nav>
            <div class="navbar">
                <div class="navbar-modules">
                    <a href="#">Tours</a>
                    <a href="#">Blogs</a>
                    <a href="#">Contact</a>
                </div>
                <div class="app-name">TourTravel</div>

                <div class="navbar-modules">

                    <a href="#">Sign In</a>
                    <a href="#">Search</a>
                </div>
            </div>
        </nav>
    </header> -->
    <div style="width: 100%;display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="flex: 0 0 22%;max-width: 30%; margin: 0.8em;" *ngFor="let tour of tours">
            <xp-tour-card-compact [tour]="tour"></xp-tour-card-compact>
        </div>
    </div>
    <div *ngIf="!isLoading && tours.length === 0 && router.url.includes('/purchased-tours')">
        <h1 class=cheapskate>Buy something, you cheapskate.</h1>
    </div>

    <h2 *ngIf="!router.url.includes('/home')" style="margin-left: 1rem; color:green;">Your custom tours:</h2>
    <button *ngIf="!router.url.includes('/home')" style="margin-left: 1rem;" color="primary" class="btn" (click)="navigateToTourManagement(0)">
        Create new custom tour
    </button>

    <button *ngIf="!router.url.includes('/home')" style=" height: 45px; width: 180px; margin-left: 4rem;" mat-flat-button color="accent"  (click)="navigateToCampaignCreation(0)">
        Create a campaign
    </button>

    <div class="container" *ngIf="!router.url.includes('/home')">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
            <div style="flex: 0 0 30%; max-width: 30%; margin: 1em;" *ngFor="let tour of customTours">
                <xp-tour-card-compact [tour]="tour" [isCustom]="true"></xp-tour-card-compact>
            </div>
        </div>
    </div>

    <!-- Color pallette test / samples -->
    <div id="otherContainer"*ngIf="router.url.includes('/home')">
        <div class="panel" style="background-color: var(--color-accent-dark); color: var(--color-foreground);" >
            <p class="p-header">Discover New Experiences</p>
            <p class="p-regular">Explore breathtaking destinations, uncover hidden gems, and make memories that last a
                lifetime.</p>
            <button class="button button-primary">Discover your adventure</button>
        </div>

        <div class="panel" style="background-color: var(--color-accent-light); color: var(--color-accent-contrast);" *ngIf="router.url.includes('/home')">
            <p class="p-header">Embark on Adventures through Captivating Narratives</p>
            <p class="p-regular">Explore our blog for a world of travel inspiration and exciting stories. From hidden
                gems to travel tips, our blog has it all.</p>
            <button class="button button-ternary">Read Our Blog</button>
        </div>

        <div class="panel" style="margin-bottom: 2%;background-color: var(--color-accent-contrast); color: var(--color-foreground);" *ngIf="router.url.includes('/home')">
            <p class="p-header">Embark on Adventures through Captivating Narratives</p>
            <p class="p-regular">Explore our blog for a world of travel inspiration and exciting stories. From hidden
                gems to travel tips, our blog has it all.</p>
            <button class="button button-secondary">Read Our Blog</button>
        </div>
    </div>
</div>
