#mainContainer {
    height: 100%;
    width: 100%;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5EEC8;
    color: #192655;
    padding: 10px 20px;
}

.navbar-modules {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.navbar-modules a {
    text-decoration: none;
    color: #192655;
    margin-right: 20px;
}

.app-name {
    font-size: 24px;
    font-weight: bold;
}

#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 950px;
    width: 100%;
    padding: 1%;
}

.card {
    flex-basis: 23%;
    max-width: 23%;
    height: 40%;
    border-radius: 7px;
    background-color: #EBF3E8;
}

.cardText {
    width: 99%;
    height: 40%;
    border-radius: 7px;
}

.cardImg {
    width: 99%;
    height: 60%;
    object-fit: cover;
    border-radius: 7px;
}

#otherContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 90%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    height: 45%;
    width: 102%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #CEDEBD;
    border-radius: 10px;
}

footer {
    background: #F5EEC8;
    color: white;
    text-align: center;
    padding: 10px;
}

.fancyButton {
    background: #186F65;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
}

.fancyButton:hover {
    color: black;
}

.linkList {
    list-style: none;
    padding: 0;
    text-align: left;
    display: inline;
}

.footerLink {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #4942E4;
}

.center-container {
    margin: 0 auto;
    /* Center horizontally */
    text-align: center;
    /* Center the content within the container */
    max-width: 70%;
}

#bottomContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: 450px;
    width: 90%;
    margin: 1.5% auto 0px auto;
    border-radius: 15px;
}

.bottom-panel {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-top: 2px solid black;
    margin: 0.5% 0% 0% 3%;
    padding-left: 2%;
    flex-basis: 30%;
    width: 30%;
    height: 100%;
}

.p-footer {
    font-family: 'Montserrat', sans-serif;
}

.scam-button {
    position: relative;
    background-color: #FF0000;
    border: none;
    color: green;
    font-size: 28px;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.scam-button:hover {
    animation: flash 0.1s infinite;
}

@keyframes flash {
    0% {
        background-color: #FF0000;
    }

    50% {
        background-color: #FFFF00;
    }

    100% {
        background-color: #FF0000;
    }
}

.popup {
    visibility: hidden;
    position: absolute;
    background-color: #ffffff;
    font-size: medium;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}