<div class="grid-container">
  <div class="menu-container">
    <div class="menu">
      <div class="profile-image-container">
        <img [src]="profile.profileImage" alt="Profile Image" class="circular-frame">
      </div>
    
      <!-- Name -->
      <div class="profile-name">
        <h2>{{ profile.name }} {{ profile.surname }}</h2>
        <p>{{ profile.username }}</p>
        <p>Level: {{profile.level}}</p>
        <p>XP: {{profile.xp}}</p>
      </div>
      <section (click)="showTable('showEdit')">
        <hr>
        <p>Edit</p>
      </section>
      <section (click)="showTable('showFollowers')">
        <hr>
        <p>Followers</p>
      </section>
      <section (click)="showTable('showFollowing')">
        <hr>
        <p>Followings</p>
      </section>
      <section (click)="showTable('showPeople')">
        <hr>
        <p>Others</p>
      </section>
      
    </div>
  </div>
  <div class="content-container">
    <div *ngIf="activeSection === 'showFollowers'">
      <div>
        <h2>Followers</h2>
        <table class="user-profile-table">
          <tbody>
            <tr *ngFor="let f of followers">
              <td>
                <img [src]="f.profileImage" alt="Profile Image">
              </td>
              <td>{{f.name}}</td>
              <td>{{f.surname}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="activeSection === 'showFollowing'">
      <div>
        <h2>Followings</h2>
        <table class="user-profile-table">
          <tbody>
            <tr *ngFor="let f of following">
              <td>
                <img [src]="f.profileImage" alt="Profile Image">
              </td>
              <td>{{f.name}}</td>
              <td>{{f.surname}}</td>
              <td>
                <button mat-raised-button (click)="unfollow(f.userId)">unfollow</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="activeSection==='showPeople'">
      <div>
        <h2>Find People</h2>
        <table class="user-profile-table">
          <tbody>
            <tr *ngFor="let f of profilesToFollow">
              <td>
                <img [src]="f.profileImage" alt="Profile Image">
              </td>
              <td>{{f.name}}</td>
              <td>{{f.surname}}</td>
              <td>
                <button mat-raised-button (click)="follow(f.userId)">follow</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
      
    <form *ngIf="activeSection ==='showEdit'" [formGroup]="personUpdateForm" (ngSubmit)="onSubmit()">
      <div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="newName" type="text" />
            
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Surname</mat-label>
            <input class="inputStyle" matInput formControlName="newSurname" type="text" />
            <br>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Profile Image</mat-label>
            <input class="inputStyle" matInput formControlName="newProfileImage" type="text" />
            <br>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Biography</mat-label>
            <input class="inputStyle" matInput formControlName="newBiography" type="text" />
            <br>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Quote</mat-label>
            <input class="inputStyle" matInput formControlName="newQuote" type="text" />
            
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input class="inputStyle" matInput formControlName="username" type="text" />
            <br>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input  class="inputStyle" matInput formControlName="email" type="text" />
            
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input class="inputStyle" matInput formControlName="password" type="password" />
            <br>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>UserId</mat-label>
            <input class="inputStyle" matInput formControlName="userId" type="number" />
            <br>
          </mat-form-field>
          
          <button mat-raised-button type="submit">Update Profile</button>
        </div>
      </form>
    
      <div *ngIf="activeSection ==='showFollowers'">
        <xp-chat-view></xp-chat-view>
    </div>
  </div>
</div>