<div class="menu-container">
  <div class="menu">
    <button mat-raised-button (click)="showTable('showProfile')">Profile</button>
    <button mat-raised-button (click)="showTable('showFollowers')">Followers</button>
    <button mat-raised-button (click)="showTable('showFollowing')">Followings</button>
    <button mat-raised-button (click)="showTable('showPeople')">Find people</button>
    <button mat-raised-button (click)="showTable('showChat')">Chat with followers :)</button>
  </div>
</div>
<div class="content-container">
  <div *ngIf="showContent === 'showFollowers'">
    <div>
      <h2>Followers</h2>
      <table class="user-profile-table">
        <tbody>
          <tr *ngFor="let f of followers">
            <td>
              <img [src]="f.profileImage" alt="Profile Image">
            </td>
            <td>{{f.name}}</td>
            <td>{{f.surname}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="showContent === 'showFollowing'">
    <div>
      <h2>Followings</h2>
      <table class="user-profile-table">
        <tbody>
          <tr *ngFor="let f of following">
            <td>
              <img [src]="f.profileImage" alt="Profile Image">
            </td>
            <td>{{f.name}}</td>
            <td>{{f.surname}}</td>
            <td>
              <button mat-raised-button (click)="unfollow(f.userId)">unfollow</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="showContent === 'showPeople'">
    <div>
      <h2>Find People</h2>
      <table class="user-profile-table">
        <tbody>
          <tr *ngFor="let f of profilesToFollow">
            <td>
              <img [src]="f.profileImage" alt="Profile Image">
            </td>
            <td>{{f.name}}</td>
            <td>{{f.surname}}</td>
            <td>
              <button mat-raised-button (click)="follow(f.userId)">follow</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="user-profile-container" *ngIf="showContent === 'showProfile'">
    <table class="user-profile-table">
      <tr>
        <th>Name:</th>
        <td>{{ profile.name }}</td>
      </tr>
      <tr>
        <th>Surname:</th>
        <td>{{ profile.surname }}</td>
      </tr>
      <tr>
        <th>Profile Image:</th>
        <td>
          <img [src]="profile.profileImage" alt="Profile Image">
        </td>
      </tr>
      <tr>
        <th>Biography:</th>
        <td>
          <p>{{ profile.biography }}</p>
        </td>
      </tr>
      <tr>
        <th>Quote:</th>
        <td>
          <p>{{ profile.quote }}</p>
        </td>
      </tr>
      <tr>
        <th>XP:</th>
        <td>
          <p>{{ profile.xp }}</p>
        </td>
      </tr>
      <tr>
        <th>Level:</th>
        <td>
          <p>{{ profile.level }}</p>
        </td>
      </tr>
    </table>
    <form [formGroup]="personUpdateForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="newName" type="text" />
          <br>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput formControlName="newSurname" type="text" />
          <br>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Profile Image</mat-label>
          <input matInput formControlName="newProfileImage" type="text" />
          <br>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Biography</mat-label>
          <input matInput formControlName="newBiography" type="text" />
          <br>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Quote</mat-label>
          <input matInput formControlName="newQuote" type="text" />
          <br>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text" />
          <br>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text" />
          <br>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
          <br>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>UserId</mat-label>
          <input matInput formControlName="userId" type="number" />
          <br>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit">Update Profile</button>
      </div>
    </form>
  </div>
  <div *ngIf="showContent === 'showChat'">
    <xp-chat-view></xp-chat-view>
  </div>
</div>