<div class="card">
  <!-- Carousel for images -->
  <div class="carousel">

    <div class="carousel-content" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
      <div class="carousel-item" *ngFor="let image of images">
        <img src="{{image}}" alt="Tour image">
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <button mat-raised-button (click)="prevImage()" style="margin-right: 10px;">Prev</button>
      <button mat-raised-button class="add-to-wishlist-button"
      *ngIf="router.url.includes('/home') && tour.status == 'PUBLISHED' && (authService.isLoggedIn$ | async) && authService.user$.value.role == 'tourist'"
      (click)="addToWishList()">Add to wish list</button>
      <button mat-raised-button (click)="nextImage()" style="margin-left: 10px;">Next</button>
    </div>
  </div>

  <!-- Card body for other information -->
  <div class="card-body">
    <h5 class="card-title">{{tour.name}}</h5>
    <p class="card-text" *ngIf="isCustom && tour.status === 'DRAFT'"><span style="color: red">This tour is unfinished. Add at least 2 keypoints to complete your custom tour.</span></p>
    <p class="card-text">{{tour.description}}</p>
    <p class="card-text"><strong>Duration:</strong> {{tour.duration}} minutes</p>
    <p class="card-text"><strong>Time:</strong> {{tour.statusUpdateTime| date:'dd.MM.yyyy'}}</p>
    <p class="card-text"><strong>Price:</strong> {{tour.price}} AC</p>
    <p class="card-text"><strong>Starting location:</strong> {{startingKeypoint.name}}</p>
    <!-- Buttons to open modals for reviews and add to cart-->
    <div style="display: flex; justify-content: space-between;">
      <button *ngIf="!isCustom" mat-raised-button color="primary" (click)="openReviews(tour.id??0)">View Reviews</button>
      <button *ngIf="isCustom" mat-raised-button color="primary" (click)="editTour()">Edit</button>
      <button *ngIf="isCustom" mat-raised-button color="primary" (click)="loadGmap(tour)">Load on gmaps</button>
      <button mat-raised-button class="add-to-cart-button"
        *ngIf="router.url.includes('/home') && tour.status == 'PUBLISHED' && (authService.isLoggedIn$ | async) && authService.user$.value.role == 'tourist'"
        (click)="addToCart()">Add to cart</button>
      <button mat-raised-button class="show-keypoints-button"
        *ngIf="router.url.includes('/purchased-tours') && !isCustom && (authService.isLoggedIn$ | async) && authService.user$.value.role == 'tourist'"
        (click)="showKeypoints()">Show Keypoints</button>
    </div>
  </div>
</div>