.card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 100%;
  height: 100%;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #FFFBF5;
  border-bottom: 2px solid #fa7921;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 99%;
  min-height: 40%;
  height: 40%;
  margin-top: 0.5%;
  margin-left: 0.5%;
  border-radius: 20px 20px 0px 0px;
}

.carousel-content {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 99.4%;
  height: 99%;
  transition: transform 0.3s ease;
}

.carousel-item img:hover {
  transform: scale(1.05);
}

.card-body {
  padding: 10px;
  min-height: 60%;
}

.card-description{
  height: 80%;
  gap: 3px;
}

.card-buttons{
  display: flex; 
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
}

.card-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #262F44;
}

.card-text {
  margin-top: 2%;
  font-size: 18px;
  word-wrap: break-word;
}

button {
  margin: 10px 0;
}

.add-to-cart-button {
  min-width: 40%;
  width: 40%;
  height: 2.9em;
  background-color: #6260A6;
  color: white;
}

.add-to-wishlist-button {
  /*background-color: rgb(255, 0, 98);*/
  background-color: #6260A6;
  color: white;
  margin-left: auto; /* da bi se dugme automatski pozicioniralo na desnoj strani */
  margin-right: auto; /* zbog razmaka prev i next */
  border: none;
  padding: 10px;
  cursor: pointer;
}

.add-to-wishlist-button::before {
  content: "\2665"; /* unicode karakter za srce */
  font-size: 20px;
  margin-right: 5px;
}

.carousel-icons{
  width: 2.2em;
  height: 2.2em;
}

.icons{
  width: 35%;
  height: 35%;
}
